/*************************************************************/
/********************* TABLE OF CONTENTS *********************/
/*************************************************************/
/**                                                         **/
/** General Styles                                          **/
/** Generic Styles                                          **/
/** Menus                                                   **/
/**  - Nav Pills                                            **/
/**  - Nestor Main Menu                                     **/
/** Portfolio                                               **/
/**  - Portfolio Page                                       **/
/**  - Our Work 1                                           **/
/** Team                                                    **/
/** Social Networks                                         **/
/**  - Social Networks Top Header                           **/
/**  - Social Networks Footer                               **/
/** Pagination                                              **/
/** Tabs                                                    **/
/** Accordions                                              **/
/** Pricing tables                                          **/
/**  - Layout 1                                             **/
/** Buttons                                                 **/
/** Labels                                                  **/
/** Progress Bars                                           **/
/** Forms                                                   **/
/** Colors & Backgrounds                                    **/
/**  - Text Color Palette                                   **/
/**  - Text Colors                                          **/
/**  - Background Colors                                    **/
/**                                                         **/
/*************************************************************/
/*************************************************************/



/*************************************************************/
/*********************** General Styles **********************/
/*************************************************************/

a {
  color: #eb8824;
}



/*************************************************************/
/*********************** Generic Styles **********************/
/*************************************************************/

.overlay-color-theme {
  background: rgba(255,177,55,.8);
}



/*************************************************************/
/*************************** Menus ***************************/
/*************************************************************/

/** Nav Pills **/
.nav-pills > li > a:hover,
.nav-pills > li > a:focus,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #da5b28;
}

/** Nestor Main Menu **/
.nestor-main-menu .active > a,
.nestor-main-menu .nav .open > a,
.nestor-main-menu .nav .open > a:hover,
.nestor-main-menu .nav .open > a:focus,
.nestor-main-menu .nav > li > a:hover,
.nestor-main-menu .nav > li > a:focus,
.nestor-main-menu .nav > li:hover > a,
.nestor-main-menu .nav > li:focus > a {
  color: #da5b28;
}

.nestor-main-menu .dropdown-menu > .active > a,
.nestor-main-menu .dropdown-menu > li > a:hover,
.nestor-main-menu .dropdown-menu > li > a:focus {
  color: #da5b28;
}

@media (max-width: 767px) {
  
  .nestor-main-menu .navbar-toggle {
    border: 1px solid #da5b28;
    background: #da5b28;
  }
  
}



/*************************************************************/
/************************* Portfolio *************************/
/*************************************************************/

/** Portfolio Page **/
.portfolio-overlay {
  background: rgba(255,177,55,.8);
}

/** Our Work 1 **/
.our-work-1-overlay {
  background: rgba(255,177,55,.8);
}



/*************************************************************/
/**************************** Team ***************************/
/*************************************************************/

.team-item-overlay {
  background: rgba(255,177,55,.8);
}



/*************************************************************/
/********************** Social Networks **********************/
/*************************************************************/

/** Social Networks Top Header **/
.social-networks-top-header a:hover,
.social-networks-top-header a:focus,
.social-networks-top-header a:active {
  color: #da5b28;
}



/*************************************************************/
/************************* Pagination ************************/
/*************************************************************/

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #da5b28;
}



/*************************************************************/
/**************************** Tabs ***************************/
/*************************************************************/

.nav-tabs > li > a:hover {
  color: #da5b28;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: 1px solid #da5b28;
  color: #da5b28;
}

.nav-tabs.nav-justified > li > a:hover {
  color: #da5b28;
}

.nav-tabs.nav-justified > .active >a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #da5b28;
  color: #da5b28;
}



/*************************************************************/
/************************* Accordions ************************/
/*************************************************************/

.panel-primary > .panel-heading {
  border: 1px solid #da5b28;
}



/*************************************************************/
/*********************** Pricing tables **********************/
/*************************************************************/

/** Layout 1 **/
.pricing-tables-1 .pricing-table-promotional .pricing-table-price {
  background-color: #da5b28;
}



/*************************************************************/
/************************** Buttons **************************/
/*************************************************************/

.btn-primary {
  border-color: #da5b28;
  color: #da5b28;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  border-color: #da5b28;
  background-color: #da5b28;
}

.btn-link {
  color: #da5b28;
}



/*************************************************************/
/*************************** Labels **************************/
/*************************************************************/

.label-primary {
  background-color: #da5b28;
}



/*************************************************************/
/*********************** Progress Bars ***********************/
/*************************************************************/

.progress-bar-primary {
  background-color: #da5b28;
}



/*************************************************************/
/*************************** Forms ***************************/
/*************************************************************/

.form-control:focus {
  border-color: #da5b28;
}



/*************************************************************/
/******************** Colors & Backgrounds *******************/
/*************************************************************/

/** Text Color Palette **/
.text-color-light .social-networks-footer a:hover,
.text-color-light .social-networks-footer a:focus,
.text-color-light .social-networks-footer a:active {
  color: #da5b28;
}

/** Text Colors **/
.text-color-theme      { color: #da5b28; }

/** Background Colors **/
.bg-color-theme        { background-color: #da5b28; }